<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.bidlingmeyer.xposed.WhatsAppX"
    android:versionCode="8"
    android:versionName="2.2.5" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    	
    	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        
        <activity
    		android:name="com.haibison.android.lockpattern.LockPatternActivity"
    		android:theme="@style/Alp.42447968.Theme.Dialog.Dark"
    		android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
    		android:screenOrientation="user" />
        
        <activity android:name="SettingsActivity"
            android:exported="true" 
            android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="de.bidlingmeyer.xposed.WhatsAppX.cannot"/>
            </intent-filter>
        </activity>
        
        <service
            android:name="SaveInfoService"
            android:exported="true" />
        
        <activity
            android:name="StatsActivity"
            android:exported="true" 
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"/>
         
         <service
            android:name="RefreshContactsService"
            android:exported="true" />

        <service
            android:name="GenerateKeyService"
            android:exported="true" />

        <activity
            android:name="WallpaperActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        <service
            android:name="LockContactService"
            android:exported="true" />
        
        <activity
            android:name="PinActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        
        <activity
            android:name="ColorActivity"
            android:exported="true"
            android:excludeFromRecents="true" />
        
        <service
            android:name="NotificationService"
            android:exported="true" />
        
         <service
            android:name="HidePreviewService"
            android:exported="true" />
         
         <service
            android:name="HideNotificationService"
            android:exported="true" />
        
   		<activity
            android:name="PagerActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Whatsapp" 
        	android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
   					<action android:name="de.bidlingmeyer.xposed.WhatsAppX.cannot" />
   					<action android:name="android.intent.action.MAIN" />
            		<category android:name="android.intent.category.LAUNCHER" />
   			</intent-filter>
   		</activity>
   		
   		<meta-data android:name="android.support.UI_OPTIONS"
           android:value="splitActionBarWhenNarrow" />
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Add further Functionality to WhatsApp:\n- Per Contact Wallpaper\n- Lock Chats with Pin\n- Hide Message Preview\n- Save important Messages" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>
    

</manifest>
